@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

/* remove any unnecessary width */
* {
  box-sizing: border-box;
}

body {
  background-color: #242333;
  color: #fff;
  display: flex; /* this helps prep to display everything equally horizontally and vertically */
  flex-direction: column; /* otherwise it automatically displays as a row */
  align-items: center; /* this is horizontal */
  justify-content: center; /* this is vertical */
  height: 100vh; /* final move to truly center content */
  font-family: "Lato", sans-serif;
  margin: 0;
}

/* movie container to make it look the same on all devices and browsers */
.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px; /* create space between text and drop down */
  padding: 5px 15px 5px 15px; /* top right bottom left */
  /* following three affect how text lies in drop down box */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

/* add a 3D effect */
.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.seat {
  background-color: #444451;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: #6feaf6;
}

.seat.occupied {
  background-color: #fff;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.4);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(0, 0, 0, 0.4);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

/* includes seat and the caption */
.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}
/* to display seats on display horizontally */
.row {
  display: flex;
}

.screen {
  background-color: #fff;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
  margin: 5px 0;
}

/* color of quantity and cost text */
p.text span {
  color: #6feaf6;
}
